*{
    margin-top: 10px;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.mega{
    font-weight: 700;
    font-size: 25px;
    color: rgb(231, 43, 43)
}
.news{
    font-size: 23px;
    color: white;
    background-color: rgb(231, 43, 43);
    padding: 0 5px;
    border-radius: 5px;
}
.four-items h4{
    margin-top: 30px;
    border: 2px solid salmon;
    border-radius: 15px;
    padding: 15px 20px;
    background-color: rgb(255, 235, 235);
} 
.dropdown-list{
    display: flex;
    margin-top: 30px;
}
.short-by{
    margin-top: 5px;
    margin-right: 10px;
}
 /*---------------------------------------------  */
.author-profile-img{
    width: 35px;
    border-radius: 50%;
}
.author-name{
    font-size: 20px;
    font-weight: 500;
}
.publish-date{
    margin-top: -20px;
    font-size: 15px;
}
.sort-btn{
    margin-left: 20px;
    margin-top: -8px;
}
.trending-btn{
    margin-top: -8px;
}
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
.scrollmenu a {
    display: inline-block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
}
.read-more{
    text-decoration: none;
}
.fa-eye{
    margin-top: 25px;
}
.fa-star{
    margin-top: 25px;
}
.views{
    margin-left: 5px;
    margin-top: 22px;
}
.rating{
    margin-top: 22px;
    margin-left: 5px;
}
#humble{
    text-align: center;
    color: white;
}
.footer p{
    color: white;
    font-size: 15px;
}
.footer h2{
    color: white;
    font-size: 20px;
}
.footer{
        text-align: center;
        background-color: rgb(228, 21, 73);
        margin-top: 100px;
        padding-top: 20px;
        padding: 60px;

        
        

}

/* ----------------- Responsive for mobile  -------------------------- */

@media only screen and (max-width: 500px) {
    .mobile-view{
        flex-direction: column;
        align-items: center;
    }
    .blog-click-icon i{
    color: red;
    margin-top: 30px;
}
.btn-flex {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}
} 